doctype
html
	head
		title Fashion Accesories
		meta(charset="utf-8")
		meta(name="description" , content="Baking Bootstrap Snippets with Jade")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		link(rel="stylesheet" href="assets/css/bootstrap.css")
		link(rel="stylesheet" href="assets/css/bootstrap.min.css")
		link(rel="stylesheet" href="assets/css/main.css")
		link(rel="stylesheet" href="assets/css/font-awesome.css")
		link(rel="stylesheet" href="assets/css/font-awesome.min.css")
	body
		header
			.container
				.row
					.col-md-6
						h2 Default Welcome  Msg!
					.col-md-6
						img(src="assets/images/flag1.png", alt="flag1")
						p Language i.fa.fa-chevron-down
						i.fa.fa-usd
						P currency i.fa.fa-chevron-down
						i.fa.fa-user
						p My Account i.fa.fa-chevron-down
		section#presentation
			.container
				.row
					.col-md-3
						i.fa.fa-clock-o
						P OPENING TIME
						p 9:00 AM - 10:00 PM
					.col-md-3
						img(src="assets/images/logo.png", alt="logo")
					.col-md-3
						input(placeholder="search")
						.i.fa.fa-search
		section#portadaset
			.container
				.navbar
					ul.nav.navbar-nav
						li
							a(href="") HOME
						li
							a(href="") CONTACT US
				.portadas
					.pinkbanner
						h1 CONTACT US
					.pinktext
						p CONTACT INFO
						p Phone (1123) 4546 789
						p Mail: inforadthemes@.com
						p Addres: N° Guardia street 123/NewYork City ,NY,United States
		section#contactanos
			.container
				.row
					.col-md-6
						iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15603.243147349638!2d-77.03916414999999!3d-12.125095100000001!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1459370492494" width="450" height="450" frameborder="0" style="border:0" allowfullscreen)
					.col-md-6
						input(placeholder="firstname")
						input(placeholder="lastname")
						input(placeholder="Email")
						input(placeholder="Website")
						input(placeholder="subject")
						input(placeholder="Message")
					buttom.pull-right submit
		section#services
			.container
				.row
					.col-md-3
						h4 ACCESSORIES
						P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sapiente, dicta doloremque repellat deleniti quo quae optio. Repudiandae soluta, et, laboris.
						i.fa.fa-facebook
						i.fa.fa-twitter
						i.fa.fa-rss
						i.fa.fa-skype
						i.fa.fa-dribbble
					.col-md-2
						h4 MY ACCOUNT
						p i.fa.fa-caret-right My Account
						p i.fa.fa-caret-right Order History
						p i.fa.fa-caret-right Whish List
						P i.fa.fa-caret-right Newsletter
					.col-md-2
						h4 INFORMATION
						P i.fa.fa-caret-right About Us
						p i.fa.fa-caret-right Delivery Information
						p i.fa.fa-caret-right Privacy Policy
						p i.fa.fa-caret-right Terms & Conditions
					.col-md-2
						h4 EXTRAS
						P i.fa.fa-caret-right Brands
						p i.fa.fa-caret-right Git Vouchers
						p i.fa.fa-caret-right Afiliates
						p i.fa.fa-caret-right Specials
					.col-md-3
						h4 ABOUT US
						p 8901 Marmora Road.Glasgow D0 489
						p .fa.fa-map-marker
						p GR.New York
						p .fa.fa-phone(0123) 456789
						p (0987) 654321
						p .fa.fa-envelope admin@botexperts.com
		footer
			.container
				.row
					.col-md-6.pull-right
					p Copyright©2015 BootExperts.All rights reserved.
					.col-md-6.pull-left
					img(src="assets/images/payment.png", alt="payment")